.headerCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  padding: 0 5vw 0 35vw;
}

.headerCart h3 {
  text-align: center;
}

.mainCartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.mainCart {
  height: 80vh;
}

.footerCart {
  height: 10vh;
  margin-left: 28vw;
  margin-right: 6vw;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.totalPrice {
  margin-bottom: 8vh;
  font-size: 18px;
}
