.logout {
  margin-top: 115px;
}

.logout:hover {
  margin-top: 125px;
  margin: 125px 0 0 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.authenticated {
  /* position: absolute;
  top: 2vh;
  right: 10%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: min-content;
}

.authenticated .photoUser {
  cursor: pointer;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  transition: all .15s ease-in-out;
}

.authenticated .dataUser {
  z-index: 1000;
  background: darkgrey;
  color: black;
  border-radius: 4px;
  width: min-content;
  margin-top: 5px;
  visibility: hidden;
}

.authenticated:hover .dataUser {

  visibility: visible;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  padding: 5px;
  line-height: 20px;

  animation-name: fade;
  animation-duration: 1s;
}

.dataUserShow {
  width: min-content;
  font-size: 13px;
  margin: 5px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


